<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
            text-transform: capitalize;
        }
    </style>
</head>

<body>
<h2>Food Menu</h2>
    
<ul>
<% for(let i = 0; i < allFood.length; i++){ %>
    <li>
        <a href="/food/<%= i %>">
            <%= allFood[i].name %>
        </a>
    </li>
    </ul>
<% } %>
</body>

</html>